[submodule "tests/text-rendering-tests"]
	path = tests/text-rendering-tests
	url = https://github.com/Wuelle/text-rendering-tests
[submodule "tests/html5lib-tests"]
	path = tests/html5lib-tests
	url = https://github.com/html5lib/html5lib-tests
[submodule "tests/bmp-testsuite"]
	path = tests/bmp-testsuite
	url = https://github.com/Wuelle/bmp-testsuite
[submodule "tests/wpt"]
	path = tests/wpt
	url = https://github.com/web-platform-tests/wpt
