use perfect_hash::perfect_set;

perfect_set!(
    const STATIC_SET = [
        {% for identifier in identifiers %}
            r#"{{ identifier }}"#,
        {% endfor %}
    ];
);

// NOTE: clippy is wrong, macro resolution fails without this import
#[allow(clippy::single_component_path_imports)]
pub(crate) use static_str;  