{% for index_name in indexes %}
	{% set index = indexes[index_name] %}

	{% if index_name == "gb18030-ranges" %}
		{# gb18030-ranges has a different format than all other indexes #}
	{% else %}
		/// The index for the `{{ index_name }}` encoding
		pub mod {{ index_name | transform_encoding_name }} {
			pub const TABLE: [char; {{ index | length }}] = {{ index | map_to_char }};
		}
	{% endif %}
{% endfor %}